on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tox:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@99401c364fa51c9c507d3cd6d272049278ac0b2c  # v2.4.0
    with:
      coverage: 'codecov'
      envs: |
        - linux: py39
        - linux: py310
        - linux: py311
        - linux: py312
        - linux: py313
        - macos: py39
        - macos: py310
        - macos: py311
        - macos: py312
        - macos: py313
        - windows: py39
        - windows: py310
        - windows: py311
        - windows: py312
        - windows: py313
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
