on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tox:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@9f1fedda61294df4c004c05519a3fbf3b8e1f32f  # v2.3.1
    with:
      coverage: 'codecov'
      envs: |
        - linux: py39
        - linux: py310
        - linux: py311
        - linux: py312
        - linux: py313
        - macos: py39
        - macos: py310
        - macos: py311
        - macos: py312
        - macos: py313
        - windows: py39
        - windows: py310
        - windows: py311
        - windows: py312
        - windows: py313
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
