on:
  push:
    branches:
      - main
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
  tox:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      coverage: 'codecov'
      envs: |
        - linux: py38
        - linux: py39
        - linux: py310
        - linux: py311
        - linux: py312
        - macos: py38
        - macos: py39
        - macos: py310
        - macos: py311
        - macos: py312
        - windows: py38
        - windows: py39
        - windows: py310
        - windows: py311
        - windows: py312
